
         
            <ejs-grid [dataSource]="list"
                      allowPaging="true"
                      height="300"
                      [pageSettings]='pageSettings'
                      locale='en-US' >
              <e-columns>
                <e-column field='productId' headerText='Product ID' width='130' ></e-column>
                <e-column field='productName' headerText='Product Name' width='130'></e-column>
                <e-column field='price' headerText='Price' width='130'></e-column>
                <e-column field='production' headerText='Production' width='130'></e-column>
                <e-column field='manufacturer' headerText='Manufact' width='130'></e-column>
                <e-column field='discount' headerText='Dis' width='130'></e-column>
              </e-columns> 
            </ejs-grid>
          

   
        

    
